@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://unpkg.com/dracula-prism/css/dracula-prism.css");
body {
  font-family: 'Roboto', sans-serif;
  color: #2b303a;
  font-size: 1.8rem;
  line-height: 1.6;
}

.site-header {
  height: 100vh;
  width: 100%;
  background-image: url(demos/bg-2.jpg);
  background-position: center center;
  background-size: cover;
}

.title-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3.4rem;
  border-radius: 2rem;
  text-align: center;
}

.demos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.demo {
  text-align: center;
}

.demo a {
  width: 50%;
  margin: 0.5rem auto;
}

pre,
code {
  font-size: inherit;
}

.component {
  margin: 2rem auto;
}

.square-example-1 {
  height: 5rem;
  width: 5rem;
  background-color: #f372c0;
  margin: 1rem;
}

.square-example-2 {
  height: 5rem;
  width: 5rem;
  background-color: #f58aca;
  margin: 1rem;
}

.square-example-3 {
  height: 5rem;
  width: 5rem;
  background-color: #f7a1d5;
  margin: 1rem;
}

.square-example-4 {
  height: 5rem;
  width: 5rem;
  background-color: #f9b9df;
  margin: 1rem;
}
