@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
// @import url('https://cdn.jsdelivr.net/gh/PrismJS/prism@1.20.0/themes/prism-tomorrow.min.css');
@import url('https://unpkg.com/dracula-prism/css/dracula-prism.css');

body {
    font-family: 'Roboto', sans-serif;
    color: #2b303a;
    font-size: 1.8rem;
    line-height: 1.6;
}

.site-header {
    height: 100vh;
    width: 100%;
    background-image: url(bg-2.jpg);
    background-position: center center;
    background-size: cover;
}

.title-container {
    background-color: transparentize($color: #fff, $amount: 0.3);
    padding: 3.4rem;
    border-radius: 2rem;
    text-align: center;
}

.demos {
    justify-content: space-around;
}

.demo {
    text-align: center;

    a {
        width: 50%;
        margin: 0.5rem auto;
    }
}

pre,
code {
    font-size: inherit;
}

.component {
    margin: 2rem auto;
}

// Center-Center Section

$base-color: #f15bb5;

@for $i from 1 through 4 {
    .square-example-#{$i} {
        height: 5rem;
        width: 5rem;
        background-color: lighten($base-color, $i * 5%);
        margin: 1rem;
    }
}

// Experiment input-btn

.meta-input {
    display: flex;
    align-items: center;

    * {
        height: 100%;
    }

    .input-btn {
        background-color: #e9ecef;
        height: 45px;

        margin: auto;
        padding: 1rem;

    }
}